@page "/transactions"
@using Microsoft.Extensions.Logging
@inject ILogger<TransactionList> Logger

<PageTitle>Transaction</PageTitle>
<div class="container-fluid m">
    <h5>Filter</h5>
    <MudGrid>
        <MudItem xs="12" lg="2">
            <MudPaper Elevation="1">
                <MudExpansionPanels MultiExpansion="true">
                    <MudExpansionPanel Text="เอกสารสำคัญภาษาอังกฤษ">
                        <MudRadioGroup @bind-SelectedOption="@SelectedOption" Style="d-flex flex-column">
                            <MudStack Spacing="0">
                                <MudRadio Option="@("Radio 1")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบแสดงผลการศึกษา (EN)</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบรับรอง (EN)</MudRadio>
                                <MudRadio Option="@("Radio 3")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบแทนปริญญาบัตร (EN)</MudRadio>
                                <MudRadio Option="@("Radio 4")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบแปลปริญญาบัตร (EN)</MudRadio>
                                <MudRadio Option="@("Radio 4")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบรับรองคุณวุฒิ (EN)</MudRadio>
                            </MudStack>
                        </MudRadioGroup>
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="เอกสารสำคัญภาษาไทย">
                        <MudRadioGroup @bind-SelectedOption="@SelectedOption" Style="d-flex flex-column">
                            <MudStack Spacing="0">
                                <MudRadio Option="@("Radio 1")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบแสดงผลการศึกษา (TH)</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบรับรอง (TH)</MudRadio>
                                <MudRadio Option="@("Radio 3")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบแทนปริญญาบัตร (TH)</MudRadio>
                                <MudRadio Option="@("Radio 4")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบแปลปริญญาบัตร (TH)</MudRadio>
                                <MudRadio Option="@("Radio 4")" Size="Size.Small" Color="Color.Primary" Dense="true">ใบรับรองคุณวุฒิ (TH)</MudRadio>
                            </MudStack>
                        </MudRadioGroup>
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Dcoument Type">
                        <MudRadioGroup @bind-SelectedOption="@SelectedOption" Style="d-flex flex-column">
                            <MudStack Spacing="0">
                                <MudRadio Option="@("Radio 1")" Size="Size.Small" Color="Color.Primary" Dense="true">Electronic</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">Electronic & Paper</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">Paper</MudRadio>
                            </MudStack>
                        </MudRadioGroup>
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="Status">
                        <MudRadioGroup @bind-SelectedOption="@SelectedOption" Style="d-flex flex-column">
                            <MudStack Spacing="0">
                                <MudRadio Option="@("Radio 1")" Size="Size.Small" Color="Color.Primary" Dense="true">Cancelled</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">Confirmed</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">Generated</MudRadio>
                                <MudRadio Option="@("Radio 1")" Size="Size.Small" Color="Color.Primary" Dense="true">Posted</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">Available For Pickup</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">Received</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">Saved</MudRadio>
                                <MudRadio Option="@("Radio 2")" Size="Size.Small" Color="Color.Primary" Dense="true">Send to the Faculty</MudRadio>
                            </MudStack>
                        </MudRadioGroup>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>
        </MudItem>

    </MudGrid>
    <div class="row m-4">
        <div class="col-md-2 bg-light h-100">
            <h3>Filter</h3>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            เอกสารสำคัญภาษาอังกฤษ
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    ใบแสดงผลการศึกษา (EN)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    ใบรับรอง (EN)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    ใบแทนปริญญาบัตร (EN)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    ใบแปลปริญญาบัตร (EN)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    ใบรับรองคุณวุฒิ (EN)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            เอกสารสำคัญภาษาไทย
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    ใบแสดงผลการศึกษา (TH)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    ใบรับรอง (TH)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    ใบแทนปริญญาบัตร (TH)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    ใบแปลปริญญาบัตร (TH)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    การแก้ไขข้อมูลนักศึกษาปัจจุบัน
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Document Type
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Electronic
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Electronic + Paper
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Request Item Status
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Waiting for Signature Register
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Waiting for MUCA
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Generated
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Waiting for Printing and Posting
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Waiting for Printing and Picking Up
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Waiting for Printing and Sending to the Faculty
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Posted/Available for pick up
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Received
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-10">
            <div class="row g-3">
                <div class="col-sm-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search by student name or ID">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>ส่วนงาน</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>สาขา</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Sort By</span>
                        <select class="form-select" id="basic-url" aria-describedby="basic-addon3">
                            <option selected>Major</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Sort By</span>
                        <select class="form-select" id="basic-url" aria-describedby="basic-addon3">
                            <option selected>RequestID</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Transaction ID</th>
                        <th>Student ID</th>
                        <th>Full Name</th>
                        <th>Request Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in transactions)
                    {
                        <tr class="tuple" @onclick="()=>DisplayDetails(transaction)">
                            <td><input type="checkbox" @bind="@transaction.Selected" /></td>
                            <td>@transaction.TransactionID</td>
                            <td>@transaction.StudentID</td>
                            <td>@transaction.FullName</td>
                            <td>@transaction.RequestDate.ToShortDateString()</td>
                            <td>@transaction.Amount</td>
                            <td>@transaction.Status</td>
                            <td>
                                @if (transaction.Status == "Pending")
                                {
                                    <span class="oi oi-ellipses" aria-hidden="true" @onclick="()=>HandleAction(transaction)"></span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<Modal @ref="modal">
    <Title>Transaction Information</Title>

    <Body>
        @if (selectedTransaction != null)
        {
            <dl class="row">
                <dt class="col-sm-3">Transaction ID</dt>
                <dd class="col-sm-9">@selectedTransaction.TransactionID</dd>
                <dt class="col-sm-3">Student ID</dt>
                <dd class="col-sm-9">@selectedTransaction.StudentID</dd>
                <dt class="col-sm-3">Full Name</dt>
                <dd class="col-sm-9">@selectedTransaction.FullName</dd>
                <dt class="col-sm-3">Request Date</dt>
                <dd class="col-sm-9">@selectedTransaction.RequestDate.ToShortDateString()</dd>
                <dt class="col-sm-3">Amount</dt>
                <dd class="col-sm-9">@selectedTransaction.Amount</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">@selectedTransaction.Status</dd>
            </dl>
        }
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modal.Close()">Close</button>
    </Footer>
</Modal>

<style>
    .darken {
        filter: brightness(80%);
    }

    .tuple:hover {
        background-color: #c7c7c7;
        cursor: pointer;
    }
</style>

@code {
    public string SelectedOption { get; set; }
    private Transaction selectedTransaction;
    private void DisplayDetails(Transaction transaction)
    {
        selectedTransaction = transaction;
        modal.Open();
    }
    private Modal modal { get; set; }
    private List<Transaction> transactions = new List<Transaction> {
new Transaction { TransactionID = 1, StudentID = 12345, FullName = "John Doe", RequestDate = new DateTime(2023, 3, 6),
Amount = 100.00, Status = "Pending", Selected = false },
new Transaction { TransactionID = 2, StudentID = 67890, FullName = "Jane Smith", RequestDate = new DateTime(2023, 3, 5),
Amount = 50.00, Status = "Approved", Selected = false },
new Transaction { TransactionID = 3, StudentID = 24680, FullName = "Bob Johnson", RequestDate = new DateTime(2023, 3,
4), Amount = 75.00, Status = "Pending", Selected = false },
new Transaction { TransactionID = 4, StudentID = 13579, FullName = "Mary Lee", RequestDate = new DateTime(2023, 3, 3),
Amount = 125.00, Status = "Denied", Selected = false }
};
    private void HandleSelection()
    {

        var selectedItems = transactions.Where(i => i.Selected).ToList();
        // Do something with the selected items
    }

    public class Transaction
    {
        public int TransactionID { get; set; }
        public int StudentID { get; set; }
        public string FullName { get; set; }
        public DateTime RequestDate { get; set; }
        public double Amount { get; set; }
        public string Status { get; set; }
        public bool Selected { get; set; }
    }

    private bool selectAll;

    private void SelectAllChanged(bool value)
    {
        foreach (var transaction in transactions)
        {
            transaction.Selected = value;
        }
    }

    private bool IsSelectAllChecked { get; set; }

    private void OnSelectAllChecked()
    {
        foreach (var transaction in transactions)
        {
            Logger.LogInformation($"Selected TransactionID: {transaction.TransactionID} {transaction.StudentID}");
            transaction.Selected = !IsSelectAllChecked;
        }
    }

    private void HandleAction(Transaction transaction)
    {
        // perform action on selected transaction
    }

    protected override void OnParametersSet()
    {
        // Check if all items are selected
        IsSelectAllChecked = transactions != null && transactions.All(x => x.Selected);
    }
}